extends layout

block contenido
    .contenido-principal
        h1 #{nomePagina} - #{projeto.nome}

        // TODO - Formulario aqui
        form.agregar-tarea(action=`/projetos/${projeto.url}` method="POST")
            .campo
                label(for="tarefa") Tarefa: 
                input.nombre-tarea(type="text" name="tarefa" placeholder="Nome da tarefa")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Enviar")

        // TODO - Lista de pendencias
        // pre= vardump(projeto)

        // Acciones que se podem realizar
        .contenedor-acciones
            a(href=`/projetos/editar/${projeto.id}` class="boton") Editar projeto
            button#eliminar-proyecto(data-proyecto-url=projeto.url type="button" class="boton eliminar") Eliminar projeto         
        