extends layout

block contenido
    .contenido-principal
        h1 #{nomePagina} - #{projeto.nome}

        // TODO - Formulario aqui
        form.agregar-tarea(action=`/projetos/${projeto.url}` method="POST")
            .campo
                label(for="tarefas") Tarefa: 
                input.nombre-tarea(type="text" name="tarefas" placeholder="Nome da tarefa")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Enviar")

        // TODO - Lista de pendencias
        // pre= vardump(tareas)

        .listado-pendientes
            ul
                if tareas.length
                    each tarefas in tareas
                        li.tarefas(data-tarefas=tarefas.id)
                            p= tarefas.tarefas
                            .acciones
                                if tarefas.estado
                                    i.far.fa-check-circle.completo
                                else 
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else 
                    p Não há tarefas nesse projeto.

        // Acciones que se podem realizar
        .contenedor-acciones
            a(href=`/projetos/editar/${projeto.id}` class="boton") Editar projeto
            button#eliminar-proyecto(data-proyecto-url=projeto.url type="button" class="boton eliminar") Eliminar projeto         
        